@import './reset.css';

html {
  background-image: url('./background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body.app {
  background: transparent;
  margin: 0;
}
